.root {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-bottom: var(--button-border);
  background: var(--canvas);
  z-index: 1;
}

.item {
  padding: 0 1em;
  display: block;
  text-decoration: none;
  color: var(--link-text);
  line-height: 50px;
}

.active {
  color: var(--highlight-text);
  background-color: var(--highlight);
}

.pending {
  color: var(--highlight-text);
  background-color: var(--highlight);
  opacity: 0.5;
}
