.root {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}

.menu {
  border-right: var(--button-border);
  flex: 0 0 auto;
  width: 20%;
}

.main {
  flex: 1 1 auto;
}
