.root {
  width: 100%;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  color: var(--canvas-text);
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 4px 0;
}

.active {
  color: var(--highlight-text);
  background-color: var(--highlight);
}

.pending {
  opacity: 0.5;
}

.selected {
  opacity: 1;
}

.ico {
  margin: 8px;
  width: 16px;
  height: 16px;
  fill: var(--canvas);
  stroke: var(--canvas-text);
  flex: 0 0 16px;
}

.active .ico {
  stroke: var(--highlight-text);
  fill: var(--canvas);
}

.selected .ico {
  fill: var(--canvas-text);
}

.selected.active .ico {
  stroke: var(--highlight-text);
  fill: var(--highlight-text);
}

.name {
  display: block;
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 8px;
}

.servicePanel {
  padding: 1em 0;
}

.service {
  padding: 4px 4px 4px 32px;
  color: var(--link-text);
  cursor: pointer;
}
