:root {
  --main-font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --main-font-size: 16px;

  --accent-color-text: AccentColorText;
  --active-text: ActiveText;

  --highlight: Highlight;
  --highlight-text: HighlightText;

  --link-text: LinkText;

  --canvas: Canvas;
  --canvas-text: CanvasText;
  --gray-text: GrayText;

  --button-face: ButtonFace;
  --button-text: ButtonText;

  --field: Field;
  --field-text: FieldText;
  --field-margin-bottom: 20px;

  --button-border: 1px solid rgba(0, 0, 0, 0.2);
  --button-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  --border-radius: 4px;

  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  line-height: 1.5;
  font-weight: 300;
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --button-border: 1px solid rgba(255, 255, 255, 0.2);
    --button-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);

    --link-text: rgb(181, 213, 255);
    --highlight: rgba(181, 213, 255, 0.5);
  }
}

body {
  display: block;
  margin: 0;
  padding: 0;
  color: var(--color);
  background-color: var(--main-bg-color);
}

#root {
  display: block;
}
