.root {
  display: flex;
  margin-bottom: var(--field-margin-bottom, 20px);
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: 2px;
}

.label {
  flex: 0 1 auto;
  overflow: hidden;
  max-width: 50%;
  padding: 4px 8px;
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  font-weight: bold;
  max-width: 50%;
}

.field {
  flex: 0 1 auto;
  border: none;
  color: var(--color-gray-text, GrayText);
  padding: 4px 8px;
  margin: 0;
  box-sizing: border-box;
}

.link {
  margin-left: 8px;
  text-decoration: none;
  color: var(--link-text, LinkText);
  cursor: pointer;
}
